<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/addrecord">Add Record</a>
    <table border="2px" cellpadind="5px" cellspacing="5px">
        <tr>
            <th>Eid</th>
            <th>Name</th>
            <th>Salary</th>
            <th>Designation</th>
            <th>City</th>
            <th>State</th>
            <th>Country</th>
        </tr>
        <tr>
            {% for i in Data %}
            <td>{{i.eid}}</td>
            <td>{{i.name}}</td>
            <td>{{i.salary}}</td>
            <td>{{i.designation}}</td>
            <td>{{i.city}}</td>
            <td>{{i.city}}</td>
            <td>{{i.country}}</td>
            <td><a href="/deleterecord/{{i.eid}}/">Delete</a></td>
            <td><a href="/editrecord/{{i.eid}}/">Edit</a></td>
        </tr>
        {% endfor %}
    </table>
   
</body>
</html>